*/__pycache__
*.pyo
*.pyc
*.pyo
.venv/
venv/
env/
ENV/
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/
build/
dist/
pip-wheel-metadata/
*.egg-info/
.ipynb_checkpoints/
deployments/ansible_context.json
ssot_temp.json